:root {
  --bg: rgb(22,22,22);
  --bgLight: rgba(26,30,31,255);
  --primaryFontColor: rgb(244 244 244);
  --ahref: #00AEEF;
}

@font-face {
  font-family: 'TBC X Regular';
  src: url('fonts/file1.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TBC X Medium';
  src: url('fonts/file.woff2');
  font-weight: normal;
  font-style: normal;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  --scrollbar-width: 0px;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}


#site-container {
  position: relative;
}


.title, .subtitle, .section-title {
  line-height: 1.6em;
}
.xl{
  font-size:20px;
}

.title {
  font-size: 42px;
  font-family: 'TBC X Medium', sans-serif;
}

.subtitle {
  font-size: 28px;
  font-family: 'TBC X Medium', sans-serif;
}

.section-title {
  color: var(--primaryFontColor);
  font-family: 'TBC X Regular', sans-serif;
}
/* Typography */
.fontTBC_1{
  font-family: 'TBC X Medium', sans-serif;
}
.fontTBC_2{
  font-family:'TBC X Regular', sans-serif;
}
.padded-line {
  padding-top: 2px;
  padding-bottom: 3px;
  line-height: 2;
}

.bold-text {
  font-weight: bold;
}

.font_2{
  font-size:20px;
  line-height:1.4em;
}

.font_5{
  font-size:28px;
  /*line-height:1.6em;*/
}
.font_9{
  font-size:14px;
  line-height: 1.6em;
}

.font_6 {
  font-size: 24px;
  line-height: normal;
}
.outer-span {
  -webkit-text-stroke: 2px var(--ahref);
    color: rgba(0, 163, 224);
}
.inner-span {
  -webkit-text-stroke: 1px #f6f4f4;
    color: white;
}
/*Burger-menu */
.burger-menu{
  background-color:var(--bgLight);
  display:none;
  position:relative;
}

.burger-menu .burger-icon {
  cursor: pointer;
}
.burger-icon div:first-child {
  width: 40px;
  transform:translateX(-5px)
}

.burger-icon div:nth-child(2) {
  width: 25px;
}

.burger-icon div:last-child {
  width: 40px;
  transform:translateX(5px);
}

.close span{
  color:var(--ahref);
  border-radius: 3px;
  padding:5px 10px;
  font-size:30px;
  font-weight:bold;
  position:absolute;
  right:0;
  top:0;
  z-index:999;
  background-color:var(--primaryFontColor);
}

.burger-menu .burger-icon div {
  height: 5px;
  background-color: var(--primaryFontColor);
  margin: 6px 0;
  transition: 0.4s;
}

#menu-items {
  list-style: none;
  position: relative;
  margin-top:150px;
  width: 200px;
  padding: 5px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

#menu-items ul li:nth-child(3) p {
  color: rgba(0, 163, 224);
}
#menu-items:not(.hidden) {
  max-height: 500px;
  opacity: 1;
}

#menu-items li:hover{
  background-color: blue;
  
}
#menu-items li a {
  text-decoration: none;
  display: block;
  padding: 20px;
  color:var(--primaryFontColor);
}


/*| Header */
.site-header{
  height:84px;
  width:100%;
  background-color: var(--bg);
  transition: all ease 0.8s;
  position:fixed;
  z-index:998;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;  
  z-index: 98; 
  height:84px;
  margin: 0px calc((100% - 980px) * 0.5);
  position:relative;
}

.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0,0,0,.5);
  z-index: 9;
}

.header-nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-nav ul li {
  padding: 0 15px;
}

.header-nav ul li a {
  color: rgba(244, 244, 244, 1);
  text-decoration: none;
  transition: color 0.3s ease;
  display:block;
}

.header-nav ul li a p{
  font-size:14px;
  line-height:1.6em;
  display:block;
  padding:0 10px;
}

.header-nav ul li:nth-child(3) p {
  color: rgba(0, 163, 224);
}

.header-nav ul li a:hover,
.header-nav ul li a.active {
  color: rgba(0, 163, 224);
  cursor:pointer;
}
.header-nav ul li a:hover {
  color: rgba(0, 163, 224);
}

#header-placeholder{
  height:84px;
}

/*| Banner */
.banner-container {
  display: grid;
}
.banner-overlay{
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(26,30,31, 0.2);
}
.banner-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 192, 203, 0.5);
  z-index: -1;
}

.banner-img {
  grid-area: 1 / 1;
  height:352px;
}

.banner-txt {
  position: relative;
  margin: 96px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 1 / 1;
  justify-self: start;
  align-self: center;
  color:var(--primaryFontColor);
}
.banner-txt h3{
  transform: translateY(-50%); top: 50%;
}


/*| ABOUT*/
.site-about {
  display: grid;
  background-color: var(--bgLight);
  color: var(--primaryFontColor);
}

.about-container{
  margin: 0px calc((100% - 980px) * 0.5);
  position: relative;
  grid-area: 1 / 1;

}

#about {
  position: relative;
  margin: 56px 0px 43px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}

#about-button{
  position: relative;
    margin: 0px 0px 57px calc((100% - 980px) * 0.5);
    left: 0px;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
    align-self: start;
}
.button-label {
  font-size:20px;
  line-height: 1.4em;
  color:var(--href);
}


/*| Courses */
.site-courses{
  background-color:rgb(22,22,22);
}

.courses-container{
  margin: 0px calc((100% - 980px) * 0.5);
  position:relative;
}
.courses-grid{
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100
}
.courses-title{
  position: relative;
  margin: 34px 0px 67px calc((100% - 980px) * 0.5);
  left: 0px;

}
.courses-list{
  position: relative;
    margin: 0px 0px 58px calc((100% - 980px) * 0.5);
    left: 0px;
   
  display: flex;
  justify-content: space-between;
  align-items:stretch;
 
}
.list-col{
  display: flex;
    flex-direction: column;
    width: 30%;
    gap: 30px;
    align-items:stretch;
}
.course-card{
  border:1px solid  rgba(85, 85, 85, 1) ;
 min-height:400px;
 display:grid;
  
}
.card-title{
  padding:10px 15px;
}
.card-text{
  color:#F4F4F4;
  padding:10px 15px;
}
.card-href{
  margin-top:50px;
  padding:10px 15px;
  display: flex;
  align-items: center;
  justify-content: start; 
  margin-bottom: 21px; 
  justify-self:start;
  }
  
  .card-icon {
    width: 16px;
    height: 13px;
    margin-right: 10px; 
  }
  
  .card-link a {
    text-decoration: none;
  }
  .card-link span{
    font-size:16px;
    line-height:1.6em;
    color:var(--ahref);
    transition: color 0.3s ease;
  }
  .card-link span:hover{
    color:blue;
  }

/*| Carousel */
.third-slide { 
  justify-content: center; 
}

.site-carousel{
  background-color: var(--bgLight);
  position:relative;
  height:auto;
  width:100%;
}
.carousel-container{
  display:grid;
  height:auto;
  height:auto;
  min-height:auto;
  grid-template-rows:min-content 1fr;
  grid-template-columns:100%;
  padding: 30px 0;
}

#carousel {
  height: 224px;
  overflow: hidden;
  display: grid;
  align-items: center;
  width:980;
  position:relative;
}

.slides {
  position: absolute; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display:flex;
  justify-content: center;
}

.slide {
  position: absolute; 
  width: 980px;  
  opacity: 0; 
  transition: opacity 0.5s ease; 
  top: 0;
  left: 50%; 
  transform: translateX(-50%); 
  display:Flex;
}

.slide.active {
  opacity: 1;
  z-index: 1; 
}


.nav-dots .dots li.active {
  background-color: blue;
  height:10px;
}
.image {
  width: 326.66px;
  min-height: 200px;
  background-repeat:no-repeat;
  background-position: center;
  
}

.prev{
  justify-self: start;
  align-self: center;
  cursor: pointer;
  display: block;
  background-color: transparent;

  margin: 0 5%;
  position: absolute;
  width:20px;
  z-index: 1;
  border:none;
}
.next{
  justify-self: end;
  transform: scaleX(-1);
  align-self: center;
  cursor: pointer;
  display: block;
  background-color: transparent;

  margin: 0 5%;
  position: absolute;
  width: 20px;
  z-index: 1;
  border:none;
}

.nav-dots{
  align-self: end;
  display: block;
  
  justify-self: center;
  
  position: absolute;
  transform: translateY(50%);
}

.dots{
  align-items: center;
  display: flex;
  justify-content: center;
  pointer-events: none;
  position: relative;
  width: 100%;
}
.dots li a{
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 10px;
  margin: 6px;
  position: relative;
  width:6px;
  background-color: var(--primaryFontColor);
}

/*| Questions */

.site-questions{
  background-color: var(--bg);
    position: relative;
    height: auto;
    width: 100%;
}
.questions-container{
  margin: 0px calc((100% - 980px) * 0.5);
  padding:30px 0;
}
.questions-wrapper{
  padding:30px 40px;
  display:flex;
  flex-direction:column;
}
.questions-header{
  display:flex;
  justify-content: space-between;
  margin-bottom:30px;
}
.header-left h2{
  font-size:24px;
  line-height: 1.2em;
  color:var(--primaryFontColor);
}

.acc-border{
  border-bottom:1px solid rgb(53,49,49);
}
.acc-item{
  display:flex;
  width:100%;
  justify-content: space-between;
  padding-top:15px;
  padding-bottom:15px;
}
.question-title{
  color:rgb(244, 244, 244);
  font-size: 18px;
  line-height: 1.2em;
}
.answer-title{
  color:rgb(244, 244, 244);
  font-size: 14px;
  line-height: 1.2em;
}
.answer.active{
  max-height:700px;
  padding:3px 0;
}
.answer{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
#about h1 {
  color: var(--primaryFontColor);
  letter-spacing: normal;
}
#accordion button{
  background: 0 0;
    width: 100%;
    border-top: 0;
    border-left:0;
    border-right:0;
    border-bottom: 1px solid rgb(53, 49, 49); 
    cursor: pointer;
  

}
.acc-item{
  padding-top:15px;
  padding-bottom:15px;
  
}
/*Footer */
.site-footer{
  background-color: var(--bgLight);
  position:relative;
}
.footer-container{
  margin: 0px calc((100% - 980px) * 0.5);
  display:flex;
  justify-content: space-between;
  padding:50px 0;
}
.footer-text{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-text-title{
  color:var(--primaryFontColor);
}
.footer-text-title a{
  color:var(--primaryFontColor);
}
.footer-label{
  font-size:14px;
  line-height:1.6em;
}
.footer-social{
  display:flex;
  flex-direction:column;
  gap:40px;
  align-items:end;
}
.social-bar{
  display:flex;
  align-items:center;
  gap:10px;
}

.footer-label{
  color:var(--primaryFontColor);  
}

.linkElement {  
  padding: 7px 10px;
  text-align: center;
  width: 150px;
  background-color: var(--ahref);
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s; 
}

.linkElement a {
  color: var(--primaryFontColor);
  text-decoration: none; 
  display: block; 
  transition: background-color 0.3s, transform 0.3s; 
}
.linkElement:hover a{
  color:var(--bg);
}

.linkElement:hover {
  background-color: var(--primaryFontColor); 
  color:var(--bg);
 /* transform: scale(1.05); */
}

.footer-button-label {
  font-size: 16px;
  line-height: 1.6em;
}

@media only screen and (max-width:1110px){
  .header-container,.about-container, .courses-container, .footer-container{
    margin: 0px calc((100% - 780px) * 0.5);
  }
  .banner-txt{
    margin: 76px 0px 10px calc((100% - 780px) * 0.5);
  }
  #about{
    margin: 56px 0px 43px calc((100% - 780px) * 0.5);
  }
  #about-button{
    margin: 56px 0px 43px calc((100% - 780px) * 0.5);
  }
  .courses-list{
    margin: 0px 0px 58px calc((100% - 780px) * 0.5);
  }
.courses-title{
  margin: 24px 0px 47px calc((100% - 780px) * 0.5);
}
.slide{
  width:680px;
}
}

@media only screen and (max-width:998px){
  .header-nav{
    display:none;
  }
  .burger-menu{
    display:block;
  }
  .header-container,.about-container, .courses-container, .footer-container{
    margin: 0px calc((100% - 680px) * 0.5);
  }
  .banner-txt{
    margin: 76px 0px 10px calc((100% - 680px) * 0.5);
  }
  #about{
    margin: 56px 0px 43px calc((100% - 680px) * 0.5);
  }
  #about-button{
    margin: 56px 0px 43px calc((100% - 680px) * 0.5);
  }
  .courses-list{
    margin: 0px 0px 58px calc((100% - 680px) * 0.5);
  }
.courses-title{
  margin: 24px 0px 47px calc((100% - 680px) * 0.5);
}
.slide{
  width:580px;
}

.banner-txt h3{
  font-size:22px;
 
}
.banner-txt h3 span{
font-size:20px;
}
.subtitle{
  font-size:22px;
}
.courses-list{
  margin: 34px 0px 67px calc((100% - 320px) * 0.5);
  flex-direction:column;
  align-items:center;
  margin-left: 0;
}
.list-col{
  margin-left: 0;
  width: 90%;
}
#carousel{
  height:400px;
}
.slide{
  flex-direction:column;
  gap:20px;
}
.image{
  width: auto;
  min-height: 100px;
}
.header-right{
  display:none;
}
.header-left h2{
  font-size:20px;
}
.question-title{
  font-size:16px;
}
.answer-title{
  font-size:14px;
}
.questions-wrapper{
  padding:0 50px;
  align-items:center;
  justify-content: center;
}
}

@media only screen and (max-width:873px){
  .burger-menu{
 /* transform: translate(-100%);*/
display:block;
  }

  .header-container{
    margin:0px calc((100% - 320px) * 0.1);
}
  .about-container, .courses-container,.questions-container, .footer-container{
    margin: 0px calc((100% - 320px) * 0.1);
  }
  #about{
    margin: 20px 0px 0px calc((100% - 320px) * 0.1);
}

#about-button{
  margin: 56px 0px 43px calc((100% - 320px) * 0.1);
}
.banner-image{
  height:320px;
}

  .banner-txt{
    margin: 70px 0px 50px calc((100% - 320px) * 0.5);
    font-size:20px;
    transform: translateY(-30%);
  }
  .banner-txt h3{
    font-size:22px;
    transform: translateY(50%);
}
.banner-txt h3 span{
  font-size:20px;
}

.subtitle{
  font-size:20px;
}
 
  .courses-list{
    margin: 0px 0px 58px calc((100% - 320px) * 0.5);
  }
.courses-title{
  margin: 24px 0px 47px calc((100% - 320px) * 0.5);
}
.slide{
  width:320px;
}
.third-slide {
 justify-content:end;
}

.courses-list{
  margin: 34px 0px 67px calc((100% - 320px) * 0.5);
  flex-direction:column;
  align-items:center;
  margin-left: 0;
}
.list-col{
  margin-left: 0;
  width: 90%;
}
#carousel{
  height:400px;
}
.slide{
  flex-direction:column;
  gap:20px;
}
.image{
  width: auto;
  min-height: 100px;
  margin-bottom:10px;
}
.header-right{
  display:none;
}
.header-left h2{
  font-size:20px;
}
.question-title{
  font-size:16px;
}
.answer-title{
  font-size:14px;
}
.questions-wrapper{
  padding:0 70px;
  align-items:center;
  justify-content: center;
}
}


/* Scroll to top button */

#btn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none;
  outline: none; 
  background-color:var(--ahref);
  color: white; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
}

#btn:hover {
  background-color: blue; 
  transform:skew(-10deg);
}

